:root{
     --main: #1B2129;
     --sub: #101114;
     --hl: #75161B;
     --hl2: #D71920;
     --text: #f0f0f0;
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

a:-webkit-any-link{
     color: var(--text);
     text-decoration: none;
}

a:-webkit-any-link:hover{
     color: var(--hl2);
}

.bg-container{
     background-image: url('/src/assets/images/bg1.png');
     background-size: cover;
     min-height: 100vh;
}