@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800&display=swap');





:root{
     --main: #1B2129;
     --sub: #101114;
     --hl: #75161B;
     --hl2: #D71920;
     --text: #f0f0f0;
     --border: #7e8696c9;
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     font-family: 'Nunito Sans', sans-serif;
     background-image: url('/src/assets/images/bg1.png');
     background-size: cover;
}

a:-webkit-any-link{
     color: var(--text);
     text-decoration: none;
     font-size: 16px;
     font-weight: 300;
}

a:-webkit-any-link:hover{
     color: var(--hl2);
}


.main-container{
     background-color: rgba(15,15,15,.75);
     min-height: 100vh;
     max-width: 1200px;
     margin: 1.5rem auto;
}