@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');



:root{
     --main: #1B2129;
     --sub: #101114;
     --hl: #75161B;
     --hl2: #D71920;
     --text: #f0f0f0;
     --border: #7e8696c9;
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     font-family: 'Dosis', sans-serif;
}

a:-webkit-any-link{
     color: var(--text);
     text-decoration: none;
     font-size: 16px;
     letter-spacing: 1px;
     font-weight: 400;
}

a:-webkit-any-link:hover{
     color: var(--hl2);
}


.bg-container{
     background-image: url('/src/assets/images/bg1.png');
     background-size: cover;
     min-height: 100vh;
}