.carousel-wrapper{
     margin: 2rem;
     padding: 1.5rem 2rem;
     background-color: var(--main);
     border-radius: 1rem;
     position: relative;
}

.carousel-wrapper>h2{
     color: var(--text);
     margin-bottom: 1.5rem;
     font-weight: 300;
     transform: translateX(-1rem);
}

.carousel-wrapper>h2::before{
    content: "";
    border-left: 4px solid var(--hl2);
    border-radius: 2px;
    margin-right: 10px;
}

.carousel-img{
     height: 250px;
     width: 175px;
     border-radius: 6px;
}

.carousel{
     display: flex;
     gap: 1.5rem;
     overflow-x: hidden;
}

.slider-btn{
     position: absolute;
     background-color: var(--hl);
     color: var(--text);
     top: 55%;
     border-radius: 25px;
     width: 46px;
     height: 46px;
     filter: opacity(0.6);
}

.slider-btn:hover{
     cursor: pointer;
     filter: opacity(1);
     transition: 0.15s ease-in-out all;
}

.slider-btn.left{
     left: -1.5rem;
}

.slider-btn.right{
     right: -1.5rem;
}

.arrow-icon{
     width: 33px;
}

.arrow-icon.left{
     transform: translate(-1px, 1px);
}

.arrow-icon.right{
     transform: translate(1px, 1px);
}