.navbar-container{
     background-color: var(--main);
     color: var(--text);
}

.navbar-desktop{
     display: flex;
     justify-content: space-between;
     padding: 0.75rem 0.5rem;
     max-width: 1200px;
     margin: auto;
}

.nav-list{
     display: flex;
     gap: 1rem;
}
.nav-start{
     display: flex;
     gap: 3rem;
     align-items: center;
}
.nav-end{
     display: flex;
     gap: 1rem;
     align-items: center;
}

.nav-end span{
     font-size: 26px;
}

.nav-query input,button{
     border: none;
     background: transparent;
}

.nav-query input:focus{
     color: var(--text);
     outline: none;
}



.hide-input{
     width: 25%;
     margin-left: auto;
     color: transparent;
}

.show-input{
     color: var(--text);
     margin-left: 0;
     width: 100%;
}


.nav-query{
     display: flex;
     align-items: center;
     padding: 0.5rem 1rem;
     border-radius: 16px;
}

.nav-query-show{
     border: 1px solid var(--text);

}

.nav-query-hide{
     border: 0;
}

.nav-account{
     display: flex;
     gap: 1rem;
}

.nav-brand-img{
     width: 160px;
     height: 50px;
}

.search-btn{
     height: 22px;
     cursor: pointer;
}

.clear-btn-show{
     height: 18px;
     margin-right: 0.25rem;
     cursor: pointer;
}

.clear-btn-hide{
     height: 0px;
     margin-right: 0.25rem;
}