.navbar-container{
     background-color: var(--main);
     color: var(--text);
}

.navbar-desktop{
     display: flex;
     justify-content: space-between;
     padding: 0.75rem 0.5rem;
     max-width: 1200px;
     margin: auto;
}

.nav-list{
     display: flex;
     gap: 1rem;
}
.nav-start{
     display: flex;
     gap: 3rem;
     align-items: center;
}
.nav-end{
     display: flex;
     gap: 1rem;
     align-items: center;
}

.nav-end span{
     font-size: 26px;
}

.nav-query input,button{
     border: none;
     background: transparent;
}

.nav-query input:focus{
     color: var(--text);
     outline: none;
}


.hide-input{
     width: 50px;
     margin-left: auto;
     color: transparent;
     transition: 0.5s;
}

.show-input{
     color: var(--text);
     width: 300px;
     transition: 0.5s;
}


.nav-query{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.4rem 1rem;
     border-radius: 16px;
}

.nav-query-show{
     border: 1px solid var(--border);
     transition: 0.5s ease-out all;

}

.nav-query-hide{
     border: 1px solid rgba(255, 255, 255, 0.0);
     transition: 0.5s ease-in-out all;
}

.nav-account{
     display: flex;
     gap: 1rem;
}

.nav-brand-img{
     width: 160px;
     height: 50px;
     cursor: pointer;
}

.search-btn{
     height: 22px;
     cursor: pointer;
}


.clear-btn-show{

     height: 18px;
     margin-right: 0.25rem;
     cursor: pointer;
}

.clear-btn-hide{
     visibility: hidden;
     height: 18px;
     margin-right: 0.25rem;
}

.dropdown{
     display: flex;
     flex-direction: column;
}

.nav-arrow{
     height: 16px;
}

.dropdown-sub{
     display: flex;
     align-items: center;
     gap: 8px;
}

.hr-1{
     transform: translateY(0.5rem);
     color: transparent;
     border: 1px solid red;
}

.hr-2{
     visibility: hidden;
     transform: translateY(0.5rem);
     color: transparent;
     border: 1px solid red;
}