.navbar-container{
     background-color: var(--main);
     color: var(--text);
}

.navbar-desktop{
     display: flex;
     justify-content: space-between;
     padding: 0.75rem 0.5rem;
     max-width: 1200px;
     margin: auto;
}

.nav-list{
     display: flex;
     gap: 1rem;
     align-items: center;
}
.nav-start{
     display: flex;
     gap: 3rem;
     align-items: center;
}
.nav-end{
     display: flex;
     gap: 1rem;
     align-items: center;
}

.nav-end span{
     font-size: 26px;
}

.nav-query input,button{
     border: none;
     background: transparent;
}

.nav-query input:focus{
     color: var(--text);
     outline: none;
}


.hide-input{
     width: 50px;
     margin-left: auto;
     color: transparent;
     transition: 0.5s;
}

.show-input{
     color: var(--text);
     width: 300px;
     transition: 0.5s;
}


.nav-query{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.4rem 1rem;
     border-radius: 16px;
}

.nav-query-show{
     border: 1px solid var(--border);
     transition: 0.5s ease-out all;

}

.nav-query-hide{
     border: 1px solid rgba(255, 255, 255, 0.0);
     transition: 0.5s ease-in-out all;
}

.nav-account{
     display: flex;
     gap: 1rem;
}

.nav-brand-img{
     width: 160px;
     height: 50px;
     cursor: pointer;
}

.search-btn{
     height: 22px;
     cursor: pointer;
}


.clear-btn-show{

     height: 18px;
     margin-right: 0.25rem;
     cursor: pointer;
}

.clear-btn-hide{
     visibility: hidden;
     height: 18px;
     margin-right: 0.25rem;
}

.nav-arrow{
     height: 16px;
}

.dropdown-sub{
     display: flex;
     align-items: center;
     gap: 8px;
     position: relative;
}


.dropdown-list-container{
     display: none;
     position: absolute;
     top: 2.5rem;
     left: -0.5rem;
     width: 150px;
     background-color: var(--main);
     box-shadow: 0 0 5px black;
     border-radius: 3px;
     padding: 1rem;

}

.dropdown-list{
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}

.link-dropdown:focus-within .dropdown-list-container{
     display: flex;
}


.link-dropdown{
     display: flex;
     align-items: center;
     position: relative;
     
}

.link-dropdown:after{
     content: '\276F';
     margin-left: 9px;
     font-size: 18px;
     font-weight: 200;
     -ms-transform: rotate(90deg);
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
     margin-bottom: 1px;
}

.link-dropdown:focus-within:after{
     content: '\276E';
     margin-left: 9px;
     font-size: 18px;
     -ms-transform: rotate(90deg);
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
     margin-bottom: 1px;
}

/* .link-dropdown:after{
     position: absolute;
     border: solid;
     border-width: 0 0.13em 0.13em 0;
     content: "";
     display: inline-block;
     height: 0.55em;
     width: 0.55em;
     right: -1.3rem;
     top: 2px;
     transform: rotate(45deg);
}

.link-dropdown:focus-within:after{
     top: 9px;
     transform: rotate(225deg);
} */

.link-dropdown:focus-within{
     transform: translateY(0.3rem);
     border-bottom: 2px solid var(--hl2);
     padding-bottom: 0.5rem;
     z-index: 1;
}