.tabs-container{
     min-width: 500px;
     min-height: 433px;
}

.nav-tabs{
     display: flex;
     justify-content: end;
}

.nav-tabs li{
     list-style-type: none;
     padding: 0.75rem 4.9rem;
     font-size: 19px;
     cursor: pointer;
     font-weight: 300; 
     width: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.nav-tabs li:hover{
     color: #f0f0f0
}

.tabs{
     color: #81878F;
     border-bottom:1px solid #818D9C;
}

.tabs.active{
     color: #f0f0f0;
     border-bottom: 1px solid #D71920;
}

.nav-content{
     color: rgba(70, 131, 180, 0.61);
     font-size: 12px;
     text-align: center;
     margin-top: 1rem;
     display: none;
}

.nav-content.active{
     display: block;
}

@media(max-width: 1150px){
     .nav-tabs li{
          font-size: 14px;
          width: 100px;
          padding: 0.55rem 1rem;
     }

     .tabs-container{
          min-width: 300px;
     }
}
