.trailer-container{
     display: flex;
     justify-content: center;
     padding: 3.5rem 1.5rem;
     align-items: center;
}

.video-container{
     width: 60%;
}

.video-container>p{
     color: #A4ADB7;
}

.synopsis-container{
     max-width: 400px;
     transform: translateY(-5rem);
}

.synopsis-container>p{
     text-align: center;
     font-style: italic;
     color: var(--text);
}

.hero-main-trailer{
     height: 400px;
     max-width: 650px;
     margin-bottom: 1rem;
}

.yt-lite{
     width: 100%;
     height: 100%;
     position: relative;
}

.yt-lite::before{
     content: "";
     background-image: url('/src/assets/images/shade.png');
     position: absolute;
     padding-bottom: 50px;
     height: 60px;
     top: 0;
     width: 100%;
}

.trailer-title{
     margin-top: 1rem;
     color: #f0f0f0;
     font-weight: 700;
     font-size: 32px;
     display: inline-block;
}

.video-container>div:last-child{

}

@media(max-width: 1175px){
     .hero-main-trailer{
          width: 500px;
          margin: 2rem 0;
     }

     .video-container{
          width: 55%;
     }

     .video-container>div:last-child{

     }
}

@media(max-width: 980px){

     .trailer-container{
         flex-direction: column;
         gap: 3rem;
     }

     .video-container{
          width: 500px;
          margin: auto;
     }

     .synopsis-container{
          max-width: 400px;
          transform: translateY(0);
     }
}

@media(max-width: 650px){

     .hero-main-trailer{
          width: 300px;
          height: 200px;
          margin: 2rem auto;
     }
     .trailer-container{
         flex-direction: column;
         gap: 3rem;
     }

     .video-container{
          margin: auto;
          max-width: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          
     }

     .synopsis-container{
          max-width: 400px;
          transform: translateY(0);
     }

     .video-container>div:last-child{
          display: flex;
          flex-direction: column;
          align-items: center;
     }
}